{% extends 'base.html.twig' %}

{% block pageTitle %}Student home page{% endblock %}

{% block body %}
    <h1>Welcome to Student home page</h1>

    <p>
        Welcome to the <strong>secure</strong> student home page
    </p>
{% endblock %}